@media screen and (max-width: 512px) {
    #img-not {
        width: 100px;
        height: 100px;
    }
    #img-parent {
        display: flex;
        justify-content: center;
    }
}

.noticia:hover {
    font-weight: bold;
    cursor:pointer;
}