@media screen and (max-width: 512px) {
    #title_asig {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .date {
        font-size: 0.9rem;
    }
    #notificacion {
        height: 100px;
    }
}